.card{
    width: 150px;
    height: 200px;
    background: #fff;
    border:1px solid;
    cursor: pointer;
    &.cut{
        height: 30px;
    }
    &.hidden{
        cursor: initial ;
        background: black;
        border:1px solid grey;
    }
    .cardBox &{
        &.cut{
            height: 200px;
        }
    }
    &.invisible{
        height: 0;
        opacity: 0;
        border: 0;
        &:not(.unique){
            pointer-events: none;
        }
        // pointer-events: none;
    }
    .finalcols &{
    width: 75px;
    height: 100px;
    }
    &.last{
        background-color: #f1f1f1;
        border: none;
        font-size: 0;
    }
}