.finalcols{
    border:1px solid darken($color1,1%);
    display: flex;
    justify-content: flex-end;
    width: 312px;
    height: 60px;
    pointer-events: none;
    background: darken($color1,1%);
    border-radius: 3px;
    .card{
        border-radius: 3px;   
    }
    @media (min-width:580px) {
            height: 100px;
            .card{
                width: 75px;
                height: 100px;
                border-radius: 3px;
            }
    }
}